<!DOCTYPE html>
<html ng-app="WeChat" ng-controller="ChangePwdCtrl" ng-cloak>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>{{'03009'| i18n}}</title>
    <!-- <title translate="03009"></title> -->
    <link rel="stylesheet" href="css/angular-material.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.min.js"></script>
    <style>
        .ng-cloak {
            display: none;
        }
    </style>

</head>
<!--<body layout="column" ng-controller="AuthCtrl" ng-init="isShowLogin=false" ng-cloak>-->
<body layout="column"  style="background:rgb(0, 176, 255);">
    <div layout="row" class="inputdemoIcons ng-cloak" style="margin: 3% 2% 0 2%;" ng-cloak>
        <md-whiteframe class="md-whiteframe-z1" style="width: 98%;margin: 2px;">
            <md-content layout-padding layout="row" layout-sm="column">
                <form name="projectForm">
                    <md-input-container class="md-icon-float" style="display:none;">
                        <i class="fa fa-weixin"></i>
                        <label>{{'2016'| i18n}}</label>
                        <md-icon class="name"></md-icon>
                        <input ng-model="openIDStr" type="text" disabled>
                    </md-input-container>
                    <md-input-container md-no-float style="margin:5px 0;">
                        <md-icon class="fa fa-lock text_center" style="color:#1E88E5;"></md-icon>
                        <input ng-model="user.npassword" name="npassword" type="password" ng-change="ChangePhoneNO()" placeholder="{{'2030'| i18n}}" required>
                        <div ng-messages="projectForm.npassword.$error">
                            <div ng-message="required">{{'02001'| i18n}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container md-no-float style="margin:5px 0;">
                        <md-icon class="fa fa-lock text_center" style="color:#1E88E5;"></md-icon>
                        <input ng-model="user.cpassword" name="cpassword" type="password" ng-change="ChangePhoneNO()" placeholder="{{'2031'| i18n}}" required>
                        <div ng-messages="projectForm.cpassword.$error">
                            <div ng-message="required">{{'02001'| i18n}}</div>
                        </div>
                        <div ng-show="isInuse">{{ErrorMassage}}</div>
                    </md-input-container>
                    <md-input-container style="  margin: 3% 2% 0 2%;">
                        <md-button class="NT_blue_bg_06" type="submit" ng-click="ConfirmPassword()">{{'2032'| i18n}}</md-button>
                    </md-input-container>
                </form>
            </md-content>
        </md-whiteframe>
    </div>

    <!-- Angular Material Dependencies -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/hammerJS/hammer.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-touch.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script src="js/angular-md5.js"></script>
    <script src="js/angular-material.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.13.3.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/sha1.js"></script>
    <script src="js/messages.js"></script>
    <script src="js/hammerJS/angular.hammer.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="js/timepicker/moment.js"></script>
    <script src="js/timepicker/daterangepicker.js"></script>
    <script src="js/timepicker/angular-daterangepicker.js"></script>
    <!-- i18n -->
    <script src="js/angular-translate/angular-translate.js"></script>
    <script src="js/angular-translate/loader-static-files.js"></script>
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/i18n.js"></script>
    <script type="text/javascript" src="i10n/zh-cn.js"></script>
    <script type="text/javascript" src="i10n/zh-tw.js"></script>
    <script src="js/controllers/ChangePwd.js"></script>
    <script src="js/directives/hammer_direct.js"></script>
</body>
</html>
