<!DOCTYPE html>
<html ng-app="WeChat" ng-controller="MsnRepairCtrl" ng-cloak>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>{{'03013'| i18n}}</title>
    <link rel="stylesheet" href="css/angular-material.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/NT_color.css">
    <link rel="stylesheet" href="css/style_new.css">
    <link rel="stylesheet" href="css/bootstrap-nav-wizard.css">
    <style>
        .ng-cloak {
            display: none;
        }
    </style>
</head>

<body style="overflow:none;" ng-init="longPressSta=true;swipeState=false;CollapseState=false;">
    <form id="NoticeForm" name="myForm" style="margin-top:0px;overflow:none;">
        <div class="form-group NT_side_body_notice ng-cloak" ng-cloak>

            <div class="alert alert-danger NT_gray_bg_03" ng-show="!isShowDetail&&!isLoading" style="margin-bottom: 0px;padding: 5px;color:#999;">
                <p class="text-center nomargin"><i class="fa fa-frown-o"></i> &nbsp;&nbsp;{{'2049'| i18n}}&nbsp;!</p>
            </div>
            <div ng-show="isLoading&&!openDiv" class="alert isLoading NT_blue_word_wh nomargin">
                <p class="text-center nomargin">
                    <span class="loader loader-quart"> </span>
                </p>
            </div>
            <div class="list-group" id="notice_list_group">
                <div class="list-group-item border_bottom artst-pic ng-cloak"
                     ng-click="GetDetail(MsnItem.Content.RequisitionId,'Detail')"
                     ng-class="{'open':openDiv}"
                     ng-swipe-left="deletFN(e)"
                     ng-swipe-right="CancelDeletFN(e)"
                     ng-repeat="MsnItem in RepairList | filter:Listdata"
                     ng-cloak>
                    <!--                   -->
                    <!-- ng-show="isShowDetail&&!isLoading" ng-repeat="MsnItem in RepairList | filter:Listdata"-->
                    <blockquote class="notice_blockquote">
                        <div class="row nopadding">
                            <div class="col-xs-3 col-md-3 col-lg-3">
                                <div class="img-circle NT_img_circle text-center" ng-class="{'NT_blue_bg_04':MsnItem.icon=='受','NT_orange_bg_04':MsnItem.icon=='预','NT_red_bg_04':MsnItem.icon=='逾','NT_gray_bg_05':MsnItem.icon=='销','NT_green_bg_04':MsnItem.icon=='报'}">{{MsnItem.icon}}</div>
                            </div>
                            <div class="col-xs-9 col-md-9 col-lg-9" style="padding:0 10px;">
                                <p class="text-left small_detail nomargin">{{MsnItem.Subject}}</p>
                                <dl>
                                    <dd class="NT_notice_s">{{MsnItem.Content.CaseNo}}</dd>
                                    <dt><p class="bold ng-cloak" ng-cloak>[{{MsnItem.Content.EquipmentCode}}]&nbsp;&nbsp;{{MsnItem.Content.EquipmentName}}</p></dt>
                                </dl>
                            </div>
                        </div><!--row..-->
                    </blockquote>
                    <ul class="list-group-submenu" ng-disabled="isLoading">
                        <li class="list-group-submenu-item NT_red_bg_04" ng-click="DeleteMsn(MsnItem.Id)">{{'01003'| i18n}}</li>
                    </ul>
                </div>
                <div class="list-group-item">
                    <button type="button" class="btn btn-primary NT_blue_bg_04 NT_load_more_btn Searchpage" ng-disabled="isLoading" ng-show="isShowMore" ng-click="LoadMore()">
                        <i class="fa fa-1-5x fa-refresh" ng-class="{'fa-spin':isLoading}"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <!--案件详情-->
    <md-sidenav class="md-sidenav-right md-sidenav-right-list-all md-whiteframe-z2 ng-cloak" md-component-id="RepairDetail" style="z-index:99;">
        <div class="NT_side_head_title nomargin NT_blue_bg">
            <!--案件编号 + 状态-->
            <div class="row nomargin" style="margin-top:5px;padding: 0 0 0 15px;">
                <div class="col-xs-12 col-md-12 nopadding lineheight_24def" style="margin:2px;">
                    <div class="col-xs-8 col-md-8 nopadding">
                        <h4 class="nomargin NT_detail_w_m">{{RepairInfo.CaseNo}}</h4>
                    </div>

                    <div class="col-xs-4 col-md-4 nopadding NT_red_bg_04 NT_detail_fontweight text-center">{{RepairInfo.ClosedNo}}</div>
                </div>
                <!--设施设备 + 销案密码-->
                <div class="col-xs-12 col-md-12 nopadding" style="margin:3px 2px 3px 2px;">
                    <div class="col-xs-8 col-md-8 nopadding NT_detail_fontweight">
                        <h3 class="nomargin NT_detail_w_l">[{{RepairInfo.EquipmentCode}}]&nbsp;&nbsp;{{RepairInfo.EquipmentName}}</h3>
                    </div>
                    <div class="col-xs-4 col-md-4 nopadding NT_blue_bg_04 NT_detail_fontweight text-center">
                        {{RepairInfo.Priority}}
                    </div>
                </div>
                <!-- 区域-->
                <div class="col-xs-12 col-md-12 nopadding" style="margin:0 2px 0 2px; ">
                    <div class="col-xs-12 col-md-12 nopadding NT_detail_fontweight">
                        <p class="text-left nomargin NT_detail_fontweight NT_detail_gray">
                            <span ng-repeat="Item in Equipmentpos" class="area_tag">{{Item.Region}}-{{Item.Position}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="NT_side_body_caselist panel-group">
            <form class="form-horizontal">
                <div class="form-group nomargin" ng-controller="TimepickerDemoCtrl" id="timepickerArea">
                    <div class="row nomargin">
                        <!-- 门店资料 + 维修商 -->
                        <div class="col-xs-12 col-md-12 post-header-line">
                            <p class="container nomargin nopadding" style="margin-left:0px;">
                                <!-- 门店 -->
                                <span class="col-xs-6 col-md-6 nopadding">
                                    <i class="fa fa-home"></i>&nbsp;{{RepairInfo.Unit}}
                                </span>
                                <!-- 连络电话 -->
                                <span class="col-xs-6 col-md-6 nopadding">
                                    <i class="fa fa-phone"></i>&nbsp;{{DeptInfo.IPhoneNos[0]}}
                                </span>
                            </p>
                            <hr style="margin:8px 0;">
                            <p><i class="fa fa-map-marker"></i>&nbsp;{{DeptInfo.FullAddress}}</p>
                            <hr style="margin:8px 0;">
                            <p><i class="fa fa-user"></i>&nbsp;{{RepairInfo.UserName}}</p>
                            <hr style="margin:8px 0;">
                            <p><i class="fa fa-wrench"></i>&nbsp;{{RepairInfo.MaintainerName}}-{{RepairInfo.StrongholdName}}</p>
                        </div>
                        <!--  最新预计到店时间 可显示 or 隐藏-->
                        <div class="col-xs-12 col-md-12">
                            <div class="alert alert-danger NT_red_bg_03" style="margin-bottom: 0px;padding: 5px;font-size: 0.9em;">
                                <i class="fa fa-bell"></i>
                                <strong>
                                  {{'2050'| i18n}}
                                    <p class="text-center nomargin">{{RepairInfo.EstArrivalTime}}</p>
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="margin:8px 0;">
                <!-- 进度 -->
                <div cla ss="row overview nomargin" id="timelineArea">
                    <button class="btn btn-default NT_btn_modal" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" ng-click="change_openicon()">
                        <div class="col-xs-11 col-md-11 user-pad text-center">
                            <ul class="cbp_tmtimeline cbp_tmtimeline_single">
                                <li>
                                    <!-- 时间 -->
                                    <time class="cbp_tmtime" datetime="{{RepairInfo.DateA}}">
                                        <span class="word_break" style="width:80px;font-size:1em;">&nbsp;</span>
                                    </time>
                                    <div class="NT_blue_bg_03 cbp_tmicon_s "></div>
                                    <!-- 进度 -->
                                    <div class="cbp_tmlabel_s MainShow NT_blue_bg_03">
                                        <h5>{{RepairInfo.Stage}}</h5>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- 收合控制icon -->
                        <div class="col-xs-1 col-md-1 user-pad text-center nopadding">
                            <i class="fa fa-caret-down NT_blue_word" ng-show="!CollapseState"></i>
                            <i class="fa fa-caret-up NT_blue_word" ng-show="CollapseState"></i>
                        </div>
                    </button>
                    <div class="collapse" id="collapseExample">
                        <div class="well" style="padding:5px 19px;">
                            <ul class="cbp_tmtimeline inDeatail">
                                <li class="NT_teal_bg_03">
                                    <div style="  text-align: center;margin: 20px 0;">
                                        <p>{{'2051'| i18n}}</p>
                                    </div>
                                </li>
                                <li ng-repeat="Item in _TableData">
                                    <time class="cbp_tmtime" datetime="Item.ResponseTime">
                                        <span class="word_break NT_time_word">{{Item.ResponseTime}}</span>
                                    </time>
                                    <div class="NT_teal_bg_03 cbp_tmicon_d "></div>
                                    <div class="cbp_tmlabel_d  NT_teal_bg_03">
                                        <h5>{{Item.Stage}}</h5>
                                    </div>
                                </li>
                                <li class="NT_gray_bg_05">
                                    <div style="  text-align: center;margin: 20px 0;">
                                        <p>{{'2052'| i18n}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr style="margin:8px 0;">
                <div class="form-group nomargin">
                    <div class="row overview nomargin">
                        <div class="col-xs-4 col-md-4 user-pad text-center " style="padding-right:0;">
                            <h4 class="nomargin NT_green_bg_05" style="padding:3px 0;">A - D</h4>
                        </div>
                        <div class="col-xs-8 col-md-8 user-pad text-center" style="padding-left:0;">
                            <h4 class="nomargin NT_green_bg_05" style="padding:3px 0;">&nbsp;{{RepairInfo.IntervalAD}}</h4>
                        </div>
                    </div>
                </div>
                <div class="form-group nomargin">
                    <div class="row overview nomargin">
                        <div class="col-xs-4 col-md-4 user-pad text-center" style="padding-right:2px;">
                            <h4 class="nomargin NT_green_bg_03 border_bottom_w" style="padding:3px 0;">A - B</h4>
                            <h4 class="nomargin NT_green_bg_03" style="padding:3px 0;">&nbsp;{{RepairInfo.IntervalAB}}</h4>
                        </div>
                        <div class="col-xs-4 col-md-4 user-pad text-center" style="padding-left:2px;padding-right:2px;">
                            <h4 class="nomargin NT_green_bg_03 border_bottom_w" style="padding:3px 0;">B - C</h4>
                            <h4 class="nomargin NT_green_bg_03" style="padding:3px 0;">&nbsp;{{RepairInfo.IntervalBC}}</h4>
                        </div>
                        <div class="col-xs-4 col-md-4 user-pad text-center" style="padding-left:2px;">
                            <h4 class="nomargin NT_green_bg_03 border_bottom_w" style="padding:3px 0;">C - D</h4>
                            <h4 class="nomargin NT_green_bg_03" style="padding:3px 0;">&nbsp;{{RepairInfo.IntervalCD}}</h4>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="NT_side_footer_case NT_blue_bg">
            <button type="button" class="btn btn-primary NT_close_btn" ng-click="closeDenav('RepairDetail')">
              {{'00001'| i18n}}
              <i><img src="img/return_24.png" style="width:20px;"></i>    
            </button>
        </div>
    </md-sidenav>

    <!--引用js-->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/hammerJS/hammer.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-touch.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script src="js/angular-md5.js"></script>
    <script src="js/angular-material.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.13.3.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/sha1.js"></script>
    <script src="js/messages.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="js/hammerJS/angular.hammer.js"></script>
    <script src="js/timepicker/moment.js"></script>
    <script src="js/timepicker/daterangepicker.js"></script>
    <script src="js/timepicker/angular-daterangepicker.js"></script>
    <!-- i18n -->
    <script src="js/angular-translate/angular-translate.js"></script>
    <script src="js/angular-translate/loader-static-files.js"></script>
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/i18n.js"></script>
    <script type="text/javascript" src="i10n/zh-cn.js"></script>
    <script type="text/javascript" src="i10n/zh-tw.js"></script>
    <script src="js/controllers/datepicker.js"></script>
    <script src="js/controllers/messageCtr.js"></script>
    <script src="js/directives/autoComplete.js"></script>
    <script src="js/directives/starRating.js"></script>
    <script src="js/directives/hammer_direct.js"></script>
    <script src="js/scrollSmooth.js"></script>
</body>
</html>
