<div class="form-group border_bottom nomargin ng-cloak" ng-cloak>
    <div class="row nomargin NT_dateSort case-filter-bar NT_blue_bg_03 flex-container left" style="z-index:99">
        <div class="flex-item-auto" ng-repeat="item in GroupParames.Regions">
            {{item}}
        </div>
        <div class="flex-item-auto" ng-repeat="item in GroupParames.Emergencys">
            {{item}}
        </div>
        <!-- <div class="flex-item-auto" ng-repeat="item in GroupParames.TypeName">
            {{item}}
        </div> -->
    </div>
</div>