<div class="modal fade" id="itemOtherEdit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!--选择的设备名称-->
                <h4 class="modal-title custom_align" id="Heading">{{'11120'| i18n}}</h4>
			</div>
			<div class="modal-body">
                <md-content layout-padding layout="row" layout-sm="column">
                    <div class="row">
                        <div class="col-xs-6">
                            <md-input-container md-no-float>
                                <label>{{'11121'| i18n}}</label>
                                <input type="text" md-placeholder="{{'11121'| i18n}}" ng-model="DetailsOther[ModalParameters.editIdx].ComponentCode">
                            </md-input-container>
                        </div>
                        <div class="col-xs-6">                        
                            <md-input-container md-no-float>
                                <label>{{'11024'| i18n}}</label>
                                <input type="text" md-placeholder="{{'11024'| i18n}}" ng-model="DetailsOther[ModalParameters.editIdx].ComponentName">
                            </md-input-container>
                        </div>
                        <div class="col-xs-6">
                            <md-input-container md-no-float>
                                <label>{{'11115'| i18n}}</label>
                                <input type="text" md-placeholder="{{'11115'| i18n}}" ng-model="DetailsOther[ModalParameters.editIdx].ComponentManufacturer">
                            </md-input-container>
                        </div>
                        <div class="col-xs-6">                        
                            <md-input-container md-no-float>
                                <label>{{'11116'| i18n}}</label>
                                <input type="text" md-placeholder="{{'11116'| i18n}}" ng-model="DetailsOther[ModalParameters.editIdx].ComponentModel">
                            </md-input-container>
                        </div>
                        <div class="col-xs-6">                    
                            <md-input-container md-no-float>
                                <label>{{'11117'| i18n}}</label>
                                <input type="text" md-placeholder="{{'11117'| i18n}}" ng-model="DetailsOther[ModalParameters.editIdx].ComponentSpec">
                            </md-input-container>
                        </div>
                        <div class="col-xs-6">                 
                            <md-input-container md-no-float>
                                <label>{{'2081'| i18n}}</label>
                                <input type="text" md-placeholder="{{'2081'| i18n}}" ng-model="DetailsOther[ModalParameters.editIdx].ComponentUnit">
                            </md-input-container>
                        </div>
                        <div class="col-xs-6">
                            <md-input-container md-no-float>
                                <label>{{'11118'| i18n}}</label>
                                <input type="text" md-placeholder="{{'11118'| i18n}}" ng-model="DetailsOther[ModalParameters.editIdx].ComponentUnitPrice">
                            </md-input-container>
                        </div>
                        <div class="col-xs-6">
                            <md-input-container md-no-float>
                                <label>{{'11026'| i18n}}</label>
                                <input type="text" md-placeholder="{{'11026'| i18n}}" ng-model="DetailsOther[ModalParameters.editIdx].Count">
                            </md-input-container>
                        </div>
                        <!--<div class="col-xs-12 padding-r-0">
                            <div class="input-icon right">
                                <i class="fa fa-exclamation-circle font-red-soft" uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" ng-click="modifyPopoverData(DetailsOther[ModalParameters.editIdx].Guide)">
                                </i>
                                <input type="text" class="form-control input-sm" placeholder="金额" value=""  ng-model="DetailsOther[ModalParameters.editIdx].Price" ng-change="checkField('Main')"/>
                            </div>
                        </div>-->
                        
                        <!--备注说明-->
                        <div class="form-group border_bottom" style="min-height:80px;">
                            <div class="col-xs-12 col-md-12">
                                <textarea class="form-control" ng-model="DetailsOther[ModalParameters.editIdx].Remark" rows="3" placeholder="备注"></textarea>
                            </div>
                        </div>
                    </div>
                </md-content>
			</div>
			<div class="modal-footer ">
				<button type="button" class="btn btn-warning btn-lg" data-dismiss="modal" ng-click="ModalParameters.calculateRow()" style="width: 100%;">
					{{'00002'| i18n}}
				</button>
			</div>
		</div>
	</div>
</div>