<div class="list-group-item border_bottom"
      ng-click="changeDelayTab('Detail')">
      
     <div class="row nomargin nopadding NT_pointSign">
         <label class="checkbox-styled">
            <span class="row nomargin NT_delayListCheckBox">
               <div class="col-xs-6 col-md-6 text-left">南京珠江二店</div>
               <div class="col-xs-2 col-md-2 nopadding text-right">11</div>
               <div class="col-xs-2 col-md-2 nopadding text-right" ng-class="{'NT_delayNoColor':NT_delayNoColor==true}">11</div>
               <div class="col-xs-2 col-md-2 nopadding text-right">0</div>
            </span>
         </label>
     </div>
    
  </div>
 <div class="list-group-item border_bottom"
      ng-click="changeDelayTab('Detail')">
      
     <div class="row nomargin nopadding NT_pointSign">
         <label class="checkbox-styled">
            <span class="row nomargin NT_delayListCheckBox">
               <div class="col-xs-6 col-md-6 text-left">南京珠江一店</div>
               <div class="col-xs-2 col-md-2 nopadding text-right">8</div>
               <div class="col-xs-2 col-md-2 nopadding text-right" ng-class="{'NT_delayNoColor':NT_delayNoColor==true}">5</div>
               <div class="col-xs-2 col-md-2 nopadding text-right">3</div>
            </span>
         </label>
     </div>
  </div>
     