 <!--门店关键字搜寻-->
 <div class="form-group NT_side_head nomargin sidenav_title nomargin NT_blue_bg_05">
    <div class="col-xs-10 col-md-10 nopadding">
        <h4 class="modal-title">请选择查询条件</h4>
    </div>
</div>
<!-- <div class="form-group nomargin  nomargin NT_red_bg_03 text-center NT_directBtn" style="">
    <div class="row nomargin" ng-click="gotoTransfer()">
        <div class="col-xs-10 col-md-10 nopadding">变更单位或支援单位</div>
        <div class="col-xs-2 col-md-2 nopadding"><i class="fa fa-caret-right"></i></div>
    </div>
</div> -->
<!--门店选单-->
<div class="form-group ng-cloak" ng-cloak ng-init="search_tabid='items'">
    <div class="case-filter_body panel-group" role="tablist" aria-multiselectable="true">
        <!--item-->
        <div class="panel panel-default noborder" ng-show="search_tabid=='items'">
          <div class="form-group">
              <div class="form-group ng-cloak border_bottom_only">
                <!-- 日期 -->
                <div class="margin-r-10 filter-item">
                    <label class="font-xxs font-yellow">起讫时间</label>
                  <div class="form-group">
                    <div class="col-xs-5 col-md-5 nopadding form-group">
                      <input type="text" ng-model="RequestTime.StartDate" id="date_begin" class="form-control date date-picker"
                        style="width: 100%;" placeholder="调拨起日" />
                    </div>
                    <div class="col-xs-2 col-md-2 text-center">~</div>
                    <div class="col-xs-5 col-md-5 nopadding form-group">
                      <input type="text" ng-model="RequestTime.EndDate" id="date_end" class="form-control date date-picker"
                        style="width: 100%;" placeholder="调拨迄日" />
                    </div>
                  </div>
                </div>                   
                <div class="line pull-in"></div>
              </div>                    
              <div class="form-group ng-cloak border_bottom_only" ng-show="StoreUser==0">
                <div class="margin-r-10 filter-item">
                    <div>
                      <label class="font-xxs">门店</label>                 
                      <i class="fa fa-1-5x fa-sitemap pull-right text-green" data-toggle="modal" data-target="#SearchMuStore" ng-click="LoadMnti(0)"></i>
                    </div>
                    <div class="form-group">
                      <span class="label bg-green"ng-repeat="StoreItem in StoreSelectedList" ng-show="StoreItem.Id!=''">
                        {{StoreItem.Text}}
                      </span>
                    </div>                          
                  </div>             
                <div class="line pull-in"></div>
              </div>
              <div class="form-group ng-cloak border_bottom_only">
                <!-- 案件类型 -->
                <div class="margin-r-10 filter-item">
                  <label class="font-xxs font-yellow">状态</label>
                  <div class="form-group"> 
                    <button class="btn m-b-xs" ng-class="{'btn-default':!RequisitionStatus.ToBeDelivery,'btn-success':RequisitionStatus.ToBeDelivery}" ng-click="SetParams('ToBeDelivery')">未发货</button>
                      <button class="btn m-b-xs" ng-class="{'btn-default':!RequisitionStatus.AlreadyDelivery,'btn-success':RequisitionStatus.AlreadyDelivery}" ng-click="SetParams('AlreadyDelivery')">已发货</button>
                      <button class="btn m-b-xs" ng-class="{'btn-default':!RequisitionStatus.AlreadyAccept,'btn-success':RequisitionStatus.AlreadyAccept}" ng-click="SetParams('AlreadyAccept')">已收货</button>
                      <button class="btn m-b-xs" ng-class="{'btn-default':!RequisitionStatus.Cancel,'btn-success':RequisitionStatus.Cancel}" ng-click="SetParams('Cancel')">已取消</button>
                  </div>
                </div>                      
                <div class="line pull-in"></div>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="NT_side_footer NT_blue_bg">
    <div class="row nomargin">
        <div class="col-xs-6 col-md-6 col-lg-6 nopadding">
            <button type="button" class="btn NT_red_bg_04 noboder_radius" data-dismiss="modal" style="width:100%;" ng-click="clearSelect2Values()">重置</button>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6 nopadding">
            <button type="button" class="btn btn-primary noboder_radius " data-dismiss="modal" style="width:100%;" ng-click="gotoSearch()">确定</button>
        </div>
    </div>
</div>

