<!--单号查询-->
<div class="row NT_blue_bg_04 input_search">
<div class="col-xs-10 col-md-10 no-padding m-rl-1">
  <div class="input-group">
      <input type="text" class="form-control" ng-model="SearhParams.EquipmentName" placeholder="请输入调拨品项" ng-change="SetCaseCode()">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <i class="fa fa-search fa-1-5x text-gray" style="margin-top:-17px;"></i>
        </button>
      </span>
  </div>
</div>
<div class="col-xs-2 col-md-2 no-margin" style="margin-top:-5px;margin-left:-15px;" ng-click="openFilterRight()">
  <i class="fa fa-filter  fa-1-5x"></i>
</div> 
</div>

