<md-dialog aria-label="Mango (Fruit)" style="min-width:100%;min-height:100%;">
    <md-dialog-content class="sticky-container" style="padding:0px 0px 200px 0px;">
        <div class="NT_side_head_title nomargin NT_blue_bg">
            <div class="col-xs-12 col-md-12 nopadding lineheight_24def" style="margin:2px;">
                <div class="col-xs-8 col-md-8 nopadding">
                    <h4 class="nomargin NT_detail_w_m">{{Note.CompanyName}}</h4>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 nopadding" style="margin:3px 2px 3px 2px;">
                <div class="col-xs-8 col-md-8 nopadding NT_detail_fontweight">
                    <h3 style="padding-left:10px;" class="nomargin NT_detail_w_l">{{Note.Name}}</h3>
                </div>
                <div class="col-xs-4 col-md-4 nopadding text-center">
                    <div style="width:110px;" class="NT_blue_bg_04 NT_detail_fontweight">{{Note.SelectDay}}</div>
                </div>
            </div>
        </div>
        <div class="NT_side_body_caselist panel-group" style="padding:0px;">
            <form class="form-horizontal">
                <div class="form-group nomargin">
                    <div class="row nomargin">
                        <div class="col-xs-12 col-md-12 post-header-line">
                            <p>
                                <i class="fa fa-user"></i>&nbsp;{{Note.Manager}}</p>
                            <hr style="margin:8px 0;">
                            <p>
                                {{'2091'| i18n}} -
                            </p>
                            <p style="padding-left:15px;" ng-bind-html="deliberatelyTrustDangerousSnippet(Note.Today.Schedule)"></p>
                            <hr style="margin:8px 0;">
                            <p>
                                {{'2090'| i18n}} -
                            </p>
                            <p style="padding-left:15px;" ng-bind-html="deliberatelyTrustDangerousSnippet(Note.Today.Problem)"></p>
                            <hr style="margin:8px 0;">
                        </div>
                        <div class="col-xs-12 col-md-12" style="margin:8px 0;">
                            <div class="form-group nomargin" style="margin:0 5px" ng-show="IsThumbs_Request">
                                <section class="NT_gallery">
                                    <img style="padding:5px;height:100px;width:100px;" alt="..." ng-src="{{Thumb.FilePath}}" ng-click="previewImage($index,ThumbList)"
                                        class="thumb m-b m-l-xs" ng-repeat="Thumb in ThumbList">
                                </section>
                            </div>
                            <div class="form-group nomargin" style="margin:0 5px" ng-show="IsThumbs_Response">
                                <section class="NT_gallery">
                                    <ng-gallery images="ThumbList_Response"></ng-gallery>
                                </section>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12" style="margin:8px 0;">
                            <div class="alert alert-danger NT_blue_bg_03" style="margin-bottom: 0px;padding: 5px;font-size: 0.9em;">
                                <i class="fa fa-bell"></i>
                                <strong>
                                    {{'2092'| i18n}}
                                    <p style="padding-left:20px;" class="nomargin" ng-bind-html="deliberatelyTrustDangerousSnippet(Note.Tomorrow.Problem)"></p>
                                </strong>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12" style="margin:8px 0;">
                            <div class="alert alert-danger NT_red_bg_03" style="margin-bottom: 0px;padding: 5px;font-size: 0.9em;">
                                <i class="fa fa-bell"></i>
                                <strong>
                                  {{'2093'| i18n}}
                                    <p style="padding-left:20px;" class="nomargin" ng-bind-html="deliberatelyTrustDangerousSnippet(Note.Tomorrow.Schedule)"></p>
                                </strong>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12" style="margin:8px 0;">
                            <hr style="margin:8px 0;">
                            <p>
                                {{'11098'| i18n}}
                            </p>
                            <div class="form-group nomargin" style="margin:0 5px">
                                <section class="NT_gallery">
                                    <img style="padding:5px;height:100px;width:100px;" alt="..." ng-src="{{Thumb.FilePath}}" ng-click="previewImage($index, Note.Thumnails)"
                                        class="thumb m-b m-l-xs" ng-repeat="Thumb in Note.Thumnails">
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <div class="NT_side_footer_case NT_blue_bg">
        <button type="button" class="btn btn-primary NT_close_btn" ng-click="cancel()">
          {{'00001'| i18n}}
            <i>
                <img src="img/return_24.png" style="width:20px;">
            </i>
        </button>
    </div>
</md-dialog>